Objects/
Listings/
manual_check/

*.o
*.d
*.crf
*.lst
*.map
*.axf
*.hex
*.bin
*.lnp
*.dep
*.htm
*.build_log.htm

*.uvguix.*
*.bak
*.zip
*.log
*.slxc
slprj/
**/slprj/

.vscode/
.cursor/
Thumbs.db
desktop.ini
